.cabecalho__navegacao {
  display: flex;
  margin: 0.6em 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.cabecalho__logo {
  display: flex;
  align-items: center;
  margin: 0 3em;
}

.logo__texto {
  text-decoration: none;
  color: var(--cor-logotitulo);
  font-family: var(--fonte-principal);
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0.5em;
}

.cabecalho__navegacao-pages {
  margin: 0 4em;
  font-family: var(--fonte-principal);
  font-weight: 500;
  align-items: center;
}

.cabecalho__navegacao-texto {
  text-decoration: none;
  color: var(--cor-texto);
  margin-right: 2em;
}

.cabecalho__navegacao-texto:hover {
  color: var(--vermelho-botao);
}

.cabecalho__usuario {
  margin: 0 3em;
  font-family: var(--fonte-principal);
  font-weight: 500;
  margin-left: auto;
}

.usuario__login {
  text-decoration: none;
  color: var(--cor-texto);
  margin-right: 1em;
}

.usuario__login:hover {
  color: var(--vermelho-botao);
}

.usuario__cadastro {
  background-color: var(--vermelho-botao);
  padding: 0.5em;
  text-decoration: none;
  color: var(--cor-primaria);
  border-radius: 0.4em;
}

.usuario__cadastro:hover {
  background-color: var(--cor-hoverCadrastro);
  color: var(--vermelho-botao);
}
